.ra-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__range {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        text-align: center;

        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__range-trigger {
        width: 36px;
        height: 36px;
        border: none;
        border-radius: 50%;

        background-color: $color-action;
        color: white;

        font-size: 1.2rem;
        font-weight: 600;

        cursor: pointer;
        transition: background-color 250ms;

        &:hover {
            background-color: $color-action--hover;
        }
    }

    &__options {
        display: flex;
        gap: 1rem;
    }

    &__option {
        border: none;

        background-color: transparent;

        font-weight: 600;
        text-transform: uppercase;

        cursor: pointer;

        &--active {
            color: $color-primary;
        }
    }
}